<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127749710256-2guslm4qq3cjl2lkd3fbqb3l4e0aqnp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127749710256-2guslm4qq3cjl2lkd3fbqb3l4e0aqnp4</string>
	<key>API_KEY</key>
	<string>AIzaSyCyLlIB9n2X_ZgHnjsbEvflbzBGVCapxcE</string>
	<key>GCM_SENDER_ID</key>
	<string>127749710256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nwmissouri.contactlistapp</string>
	<key>PROJECT_ID</key>
	<string>contactlistapp-2ac51</string>
	<key>STORAGE_BUCKET</key>
	<string>contactlistapp-2ac51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127749710256:ios:e1f9620940ccbed3f7f675</string>
</dict>
</plist>